<div id="MainContainer">
    <div id="MainContainer-Left">


        <div id="first-container-left">

            <div class="infos-generales">
                <div class="photo">
                    <a class="changeAvatar">
                        <img class="Avatar" [src]="avatarOfUser">
                        <span class="pi pi-pencil"></span>
                    </a>
                    <div class="acount-user-action">
                        <a class="edit"><span class="pi pi-user-edit"></span></a>
                        <a class="view"><span class="pi pi-eye"></span></a>
                        <a class="logout"><span class="pi pi-power-off"></span></a>
                    </div>

                </div>

                <div class="UserName">
                    <h2>
                        <span>{{userLog.firstName}}</span>
                    </h2>
                </div>

                <div class="infos-secondaires">
                    <ul class="cont">
                        <li class="vide"></li>
                        <li class="age">Né le {{userBirthdate | date: 'dd/MM/yyyy'}} ({{userAge}} ans)</li>
                        <li class="role">
                            <span *ngIf="userLog.isAdmin && usergender == 'homme'" class="admin">Admin &#9794;</span>
                            <span *ngIf="userLog.isAdmin && usergender == 'femme'" class="admin">Admin &#9792;</span>
                            <span *ngIf="!userLog.isAdmin && usergender == 'homme'" class="member">Member &#9794;</span>
                            <span *ngIf="!userLog.isAdmin && usergender == 'femme'" class="member">Member &#9792;</span>
                        </li>
                    </ul>
                </div>


            </div>

        </div>


    </div>







    <div id="MainContainer-Right">
        <div id="first-container-right">

        </div>



    </div>
</div>