<div id="MainContainer">
    <div id="MainContainer-Left">


        <div id="first-container-left">

            <div class="infos-generales">
                <div class="photo">
                    <a class="changeAvatar">
                        <img class="Avatar">
                    </a>


                </div>
                <div class="UserName">

                </div>
                <div class="infos-secondaires">

                </div>


            </div>

        </div>


    </div>







    <div id="MainContainer-Right">
        <div id="first-container-right">

        </div>



    </div>
</div>