<p-toast></p-toast>
<p-toast position="top-right" key="msg"></p-toast>



<div class="main-container">

    <a class="adnlogo" href="/">
        <img class="logo" src="assets/img/adn_logo_lightblue.svg" />
    </a>
    <div class="containera">

        <div class="main-title-container">
            <div class="title-container">
                <h1 class="title">
                    <span class="title-texte">IDENTIFICATION</span>
                </h1>
                <div class="avance">1 / 2</div>
            </div>
        </div>

        <div class="form-main-container">
            <h4>Rejoignez-nous en vous créant un compte adn !</h4>
            <div class="background-form-container">

                <div class="form-container-left">


                    <form [formGroup]="form" (ngSubmit)="creationAccount()" class="generale">


                        <div class="email-container">
                            <label for="login-email" class="label-email">
            <span>Nom :</span>
        </label>
                            <input id="lastName" pInputText type="text" formControlName="subscribelastName" />


                            <p-message severity="error" text="Le champ est invalide"></p-message>


                            <p class="pseudo-oublie">
                                <a></a>
                            </p>
                        </div>


                        <div class="password-container">
                            <label for="login-password" class="label-password">
            <span>Prenom :</span>
        </label>
                            <input id="firstName" pInputText type="text" formControlName="subscribefirstName" class="pass p-inputwrapper-focus" />

                            <p-message severity="error" text="Le champ est invalide"></p-message>

                            <p class="password-oublie">
                                <a> </a>
                            </p>

                        </div>

                        <div class="password-container">
                            <label for="login-password" class="label-password">
            <span>Date :</span>
        </label>
                            <p-calendar (click)="changeValuebirthdate($event)" id="inputCalendar" [minDate]="daysbefore" [maxDate]="maxDate" [readonlyInput]="true" inputId="min-max" formControlName="subscribebirthDate" [(ngModel)]="datefromcalendar"></p-calendar>

                            <p-message severity="error" text="Le champ est invalide"></p-message>

                            <p class="password-oublie">
                                <a> </a>
                            </p>

                        </div>


                        <div class="checkbox-container">
                            <div class="p-field-checkbox">
                                <p-radioButton formControlName="subscribeGender" Name="gender" value="homme" [(ngModel)]="this.form.value.subscribeGender"></p-radioButton>
                                <label class="subscribeGender" for="homme">Homme</label>
                                <p-radioButton formControlName="subscribeGender" Name="gender" value="femme" [(ngModel)]="this.form.value.subscribeGender"></p-radioButton>
                                <label class="subscribeGender" for="femme">femme</label>
                            </div>



                        </div>




                    </form>

                </div>




                <div class="form-container">

                    <form [formGroup]="form" (ngSubmit)="creationAccount()" class="connect">


                        <div class="email-container">
                            <label for="login-email" class="label-email">
                            <span>Email :</span>
                        </label>
                            <input id="inputEmail" pInputText type="email" formControlName="subscribeEmail" [email]="true" aria-describedby="email-help" />


                            <p-message severity="error" text="Le champ est invalide"></p-message>


                            <p class="pseudo-oublie">
                                <a></a>
                            </p>
                        </div>


                        <div class="password-container">
                            <label for="login-password" class="label-password">
                            <span>Mot de passe :</span>
                        </label>
                            <p-password id="subscribePassword" [feedback]="false" [toggleMask]="true" formControlName="subscribePassword" class="pass p-inputwrapper-focus"></p-password>

                            <p-message severity="error" text="Le champ est invalide"></p-message>

                            <p class="password-oublie">
                                <a> </a>
                            </p>

                        </div>

                        <div class="password-container">
                            <label for="login-password" class="label-password">
                            <span>Mot de passe :</span>
                        </label>
                            <p-password id="subscribePasswordconfirm" [feedback]="false" [toggleMask]="true" formControlName="subscribePasswordConfirm" class="pass p-inputwrapper-focus"></p-password>

                            <p-message severity="error" text="Le champ est invalide"></p-message>

                            <p class="password-oublie">
                                <a> </a>
                            </p>

                        </div>


                        <div class="checkbox-container">
                            <div class="p-field-checkbox">
                                <p-checkbox formControlName="subscribeRememberMe" [(ngModel)]="rememberMe" [binary]="true"></p-checkbox>
                                <label class="loginremember" for="rememberMe">Se souvenir de moi</label>
                            </div>



                        </div>

                        <button type="submit" class="btnSubmit" (click)="creationAccount()">
                        créer un compte
                   </button>


                    </form>



                </div>
            </div>

        </div>
    </div>
</div>